[Unit]
Description=Verwalter configuration service

[Service]
Type=simple
Environment="RUST_LOG=warn"
User=verwalter
ExecStart=/usr/bin/verwalter
Restart=always

[Install]
WantedBy=multi-user.target
